# lowercasing

In [37]:
import pandas as pd

In [38]:
df =pd.read_csv('IMDB Dataset.csv')

In [39]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [8]:
df['review'] =df['review'].str.lower()

In [9]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# remove HTML tags

In [12]:
import re
def remove_html_tags(text):
    patten=re.compile('<.*?>')
    return patten.sub(r'',text)

In [14]:
remove_html_tags(text)

NameError: name 'text' is not defined

In [15]:
df['review'] =df['review'].apply(remove_html_tags)

In [16]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# remove URLs

In [24]:
text1 = "check out mu notebbol https://www.youtube.com/watch?v=6C0sLtw5ctc"
text2 ="http://localhost:8888/tree/deep%20learning/deep%20prectic"
text3 ="https://www.kaggle.com/code/campusx/text-preprocessing/input"
text4 ="https://www.google.co.in/"

In [26]:
def remove_url(text):
    patten=re.compile(r'http?://\S+|ww\.\S+')
    return patten.sub(r'',text)

In [27]:
text1

'check out mu notebbol https://www.youtube.com/watch?v=6C0sLtw5ctc'

In [28]:
remove_url(text1)

'check out mu notebbol https://w'

# remove punctuation

In [26]:
import time

In [27]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [28]:
exclude =string.punctuation

In [29]:
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

In [30]:
text ='string. with. punctuation?'

In [31]:
start =time.time()
print(remove_punc(text))
time1=time.time() -start
print(time1*50000)

string with punctuation
49.4837760925293

In [32]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [33]:
start =time.time()
remove_punc1(text)
time2 =time.time()-start

In [35]:
time1/time2

ZeroDivisionError: float division by zero

In [42]:
df.sample(5)

                                                  review sentiment
9083   I was very happy and at the same time quite su...  positive
29767  I saw the German version of the movie in Germa...  positive
25938  As if reality shows like "American Idol" weren...  positive
19417  Infamous pre-code film, really the one film th...  positive
25926  After Racism, Rural exodus -also known as migr...  positive

In [43]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [44]:
df['tweet'].apply(remove)

KeyError: 'tweet'

# chat word treatment

In [10]:
import pandas as pd
import numpy as np

In [11]:
filename = "slang.txt" 
f = open(filename, "r")

In [12]:
dictionary = file_to_dict(filename)

# Print the resulting dictionary
print(dictionary)

NameError: name 'file_to_dict' is not defined

In [13]:
def chat_conversion(text):
    new_text = []
    for w in text.split():
        new_text.append(chat_words[w.upper()])
    else:
        new_text.append(w) 
    return " ".join(new_text)

In [14]:
chat_conversion(dictionary)

NameError: name 'dictionary' is not defined

# Spelling Correction

In [3]:
from textblob import TextBlob

In [16]:
pip install textblob

Collecting textblob
  Obtaining dependency information for textblob from https://files.pythonhosted.org/packages/02/07/5fd2945356dd839974d3a25de8a142dc37293c21315729a41e775b5f3569/textblob-0.18.0.post0-py3-none-any.whl.metadata
  Downloading textblob-0.18.0.post0-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: nltk>=3.8 in c:\users\parth\anaconda3\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\parth\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\parth\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\parth\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\parth\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\parth\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.6)
Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
   - -------------------------------------- 30.7/626.3 kB ? eta -:--:--
   - -------------------------------------- 30.7/626.3 kB ? eta -:--:--
   -- ------------------------------------ 41.0/626.3 kB 330.3 kB/s eta 0:00:02
   -- ------------------------------------ 41.0/626.3 kB 330.3 kB/s eta 0:00:02
   ------ ------------------------------- 102.4/626.3 kB 454.0 kB/s eta 0:00:02
   ------ ------------------------------- 102.4/626.3 kB 454.0 kB/s eta 0:00:02
   --------- ---------------------------- 163.8/626.3 kB 492.3 kB/s eta 0:00:01
   ----------- -------------------------- 184.3/626.3 kB 507.5 kB/s eta 0:00:01
   -------------- ----------------------- 245.8/626.3 kB 558.1 kB/s eta 0:00:01
   ------------------ ------------------- 297.0/626.3 kB 632.9 kB/s eta 0:00:01
   ------------------------ ------------- 399.4/626.3 kB 755.6 kB/s eta 0:00:01
   ------------------------------- ------ 512.0/626.3 kB 892.8 kB/s eta 0:00:01
   -------------------------------------  614.4/626.3 kB 992.1 kB/s eta 0:00:01
   -------------------------------------- 626.3/626.3 kB 985.7 kB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.18.0.post0
Note: you may need to restart the kernel to use updated packages.

In [5]:
incorrect_text = 'ceertain conditions duriing seveal ggenerations aree modified in the same maner.'

textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions during several generations are modified in the same manner.'

# Removing stop words

In [1]:
import nltk
from nltk.corpus import stopwords

In [4]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [3]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\parth\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [5]:
def remove_stopword(text):
    new_text  = []
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x= new_text[:]
    new_text.clear()
    return" ".join(x)

In [7]:
remove_stopword('is')

''

# Handling Emojis

In [9]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"  # other symbols
        u"\U000024C2-\U0001F251"  # other symbols
        "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [10]:
remove_emoji('love the movie. it was ðŸ˜ŠðŸ˜Š')

'love the movie. it was '

In [13]:
import emoji
print(emoji.demojize('python is ðŸ˜ŠðŸ˜Š'))

python is :smiling_face_with_smiling_eyes::smiling_face_with_smiling_eyes:

In [12]:
pip install emoji

Collecting emoji
  Obtaining dependency information for emoji from https://files.pythonhosted.org/packages/e6/90/20ad30babfa8f2b5ab46281d8e17bdfdbb3ac294cda14d525b9c2d958846/emoji-2.12.1-py3-none-any.whl.metadata
  Downloading emoji-2.12.1-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: typing-extensions>=4.7.0 in c:\users\parth\anaconda3\lib\site-packages (from emoji) (4.7.1)
Downloading emoji-2.12.1-py3-none-any.whl (431 kB)
   ---------------------------------------- 0.0/431.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/431.4 kB ? eta -:--:--
    --------------------------------------- 10.2/431.4 kB ? eta -:--:--
   --- ----------------------------------- 41.0/431.4 kB 487.6 kB/s eta 0:00:01
   ----------- ---------------------------- 122.9/431.4 kB 1.0 MB/s eta 0:00:01
   ------------ ------------------------- 143.4/431.4 kB 847.9 kB/s eta 0:00:01
   -------------------- ------------------- 225.3/431.4 kB 1.1 MB/s eta 0:00:01
   ----------------------------- ---------- 317.4/431.4 kB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 419.8/431.4 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 431.4/431.4 kB 1.3 MB/s eta 0:00:00
Installing collected packages: emoji
Successfully installed emoji-2.12.1
Note: you may need to restart the kernel to use updated packages.

# Tokenization

1.using the split function

In [15]:
sen1 = 'i am going to delhi'
sen1.split()

['i', 'am', 'going', 'to', 'delhi']

In [17]:
sen1 = 'i am going to delhi. i am parth. i am student.'
sen1.split('.')

['i am going to delhi', ' i am parth', ' i am student', '']

In [1]:
sen3 ='i am going to delhi!'
sen3.split()

['i', 'am', 'going', 'to', 'delhi!']

In [2]:
sen4 = 'where do think i should i have 3 day holiday'
sen4.split('.')

['where do think i should i have 3 day holiday']

 2.Regular Expression

In [3]:
import re 
sen3 = 'i am going ro delhi!'
tokens =re.findall("['\w']+",sen3)
tokens

['i', 'am', 'going', 'ro', 'delhi']

In [6]:
text ="""Natural language processing (NLP) is a machine learning technology that gives computers the ability to interpret,
manipulate, and comprehend human language."""
sentences = re.compile('[.!?]').split(text)
sentences

['Natural language processing (NLP) is a machine learning technology that gives computers the ability to interpret,\nmanipulate, and comprehend human language',
 '']

# 3.NLTK

In [11]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\parth\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [12]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [13]:
sen1 = 'i am going to visit dehli!'
word_tokenize(sen1)

['i', 'am', 'going', 'to', 'visit', 'dehli', '!']

In [14]:
text = """Natural language processing (NLP) is a machine learning technology that gives computers the ability to interpret,
manipulate, and comprehend human language."""

sent_tokenize(text)

['Natural language processing (NLP) is a machine learning technology that gives computers the ability to interpret,\nmanipulate, and comprehend human language.']

In [15]:
sen5 ='i have  a ph.d in a.i'
sen6 ="we're here to help mail us at nk@gmail.com"
sen7 ='a 5kg ride cost $10.50'

In [17]:
word_tokenize(sen5)

['i', 'have', 'a', 'ph.d', 'in', 'a.i']

4.Spacy

In [18]:
import spacy

In [19]:
nlp=spacy.load('en_core_web_sm')u

OSError: [E050] Can't find model 'en_core_web_sm'. It doesn't seem to be a Python package or a valid path to a data directory.

In [20]:
doc1 =nlp(sen5)
doc1 =nlp(sen7)
doc1 =nlp(sen6)

NameError: name 'nlp' is not defined

In [21]:
for toker in doc1:
    print(token)

NameError: name 'doc1' is not defined

# Stemming

In [9]:
import nltk
from nltk.stem.porter import PorterStemmer

In [12]:
ps = PorterStemmer()
def stem_word(text):
    return" ".join([ps.stem(word)for word in text.split()])

In [13]:
sample = 'walk walks walking walked'
stem_word(sample)

'walk walk walk walk'

# Lemmatization

In [15]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\parth\AppData\Roaming\nltk_data...

True

In [17]:
import nltk
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He was running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations="?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)

sentence_words
print("{0:20}{1:20}".format("Word", "Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word, wordnet_lemmatizer.lemmatize(word,pos='v')))

Word                Lemma
He                  He
was                 be
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun